body {
    font-size: 14px;
  }
  a {
    text-decoration: none;
    color: unset;
  }
  a:hover{

    color: unset;
  }
  article,
  section,
  aside,
  address,
  nav,
  header,
  footer,
  img {
    display: block;
  }
  img {
    border: none;
  }
  li {
    list-style: none;
  }
  p{
    margin-bottom: 0;
  }