
.headerwrap{
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 999;
    .container{
        .outer{
            border: 2px solid #d9d9d9;
            border-radius: 50px;
            padding: 10px 30px;
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            -moz-backdrop-filter: blur(5px);
            -o-backdrop-filter: blur(5px);
            -ms-backdrop-filter: blur(5px);
            a:hover{
                color: #000;
            }
        }
        .outer-b{
            border: 2px solid #d9d9d945;
            background-color: #0000007d;
            color: rgb(226, 226, 226);
            a:hover{
                color: white;
            }
        }
    }
    .logo{
        display: inline-block;
    }
    ul.link{
        float: right;
        li{
            display: inline-block;
            padding: 0 10px;
        }
    }
}